@import 'variables';

.card-output{
	display: flex;
	flex-direction: column;
	gap: 2rem;
	border: 2px solid var(--black);

	background-color: var(--white);
	// transition: all .5s ease;
	border-radius: .5rem;
	text-align: center;

	padding: .4rem;
	box-shadow: 0px 24px 32px -8px #00000014;
	
	img {
		width: 100%;
		@media screen and (min-width: calc($whole-gapping + $desktop-min-width)) {
			display:block;
		}
	}

    textarea{
        background-color: var(--white);
        color: var(--black);
    }
}
