@import 'variables';
header{
    img{
        height: 1.9rem;
        width: 1.5rem;
        filter: var(--header-img);
    }
    // transition: all 2s ease;
    font-size: 1rem;
    background-color: var(--header-color);
    color:var(--header-color);

    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo{
        display: flex;
        gap: .5rem;
        span{
            display: none;
            font-size: 1.2rem;
            color: var(--header-text);
        }
    }
    button{
		&:hover{
			color: var(--white);
			background-color: var(--black);
			transition: all .5s ease;
		}
	}
    .accessibility{
        display: flex;
        gap: 4rem;

		@media screen and (max-width: $ipad-width) {
			position: fixed;
			left: 0;
			bottom: 0;
			width: 100%;
			background: black;
			flex-direction: column;
			gap: 2ch;
			padding: 1ch;
            height: 12vh;
		}

		.darkmode{
			display: flex;
			justify-content: center;
			gap: 2ch;
		}

		.translate{
			display: flex;
			justify-content: center;
			gap: 2ch;
		}

        .darkmode,.translate{
            z-index: 20;

            span{
                color: $white;
            }
        }

        .bg{
            position:fixed;
            left: 50%;
            transform: translateX(-50%);
            bottom: 0%;
            width: 100vw;
            height: 12vh;
            background-color: var(--accessibility-color);
            // transition: all .5s ease;
            z-index: 10;
        }
    }
}

@media screen and (min-width:425px){
    header{
        .logo{
            span{
                display: inline-block;
            }
        }
    }
}